
*.cbp
*.exe
*.o
*.layout
.vs/list/v15/.suo
*.opendb
*.ipch
*.lastcodeanalysissucceeded
*.ilk
*.log
*.xml
*.obj
*.enc
*.pdb
*.tlog
*.idb
*.vcxproj
*.filters
*.user
*.sln
*.db
list/.vs/list/v15/.suo
*.txt
